* {
    text-decoration: none;
    list-style: none;
}

.row {
    height: 100vh;
}

.content form {
    width: 100%;
}

.navbar-brand {
    color: #EB3131;
    font-size: 2rem;
    font-weight: 600;
}

.nav-link {
    color: white;
    font-weight: 500;
}

.nav-link.contact {
    background: #EB3131;
    border-radius: .3rem;
    margin-left: 1rem;
    padding: 0.5rem;
}

span.px.bx-menu-alt-right {
    color: white;
    font-size: 1.5rem;
}

.navbar-toggler:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

@media (max-width: 600px) {
    .nav-link.contact {
        margin-left: 0;
    }
}

.sec-1 {
    padding: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec-2 {
    padding: 4rem;
    background: #EB3131;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.content h5 {
    margin-top: 3rem;
}

.content h5 a {
    padding: 0.5rem 1.5rem;
    background: white;
    color: #EB3131;
    text-decoration: none;
    border-radius: .3rem;
}

.content h5 a:hover {
    background: none;
    color: white;
    border: white 1px solid;
    transition: all .3s;
}


.submit {
    background: #EB3131;
    color: white;
}

/* main */
.maintext {
    margin-top: 3rem;
    padding: 2rem;
}

.mainbtns {
    padding: 2rem;
    margin-top: 1rem;
}

.maintext h2 {
    color: white;
    font-size: 4rem;
    font-weight: 500;
}

.maintext h3 {
    color: white;
}

.mainbtns {
    display: flex;
}

.mainbtns h3 a {
    color: white;
    background: #EB3131;
    border-radius: .3rem;
    padding: 0.5rem;
    margin: 1rem;
    font-size: 1.2rem;
    text-decoration: none;
}

.form-control:focus {
    box-shadow: none;
}

@media (max-width: 600px) {
    .maintext {
        margin-top: 1.5rem;
    }

    .maintext h2 {
        font-size: 2rem;
    }
}

.notetxt {
    display: flex;
}

.search {
    align-items: center;
}

.search .input-group {
    width: 80%;
}

@media (max-width: 600px) {
    .search .input-group {
        width: 90%;
    }
}

.search .input-group .btn {
    width: 30%;
}

.notetxt h4 a {
    color: #EB3131;
    text-decoration: underline;
    font-size: 1.2rem;
    margin: 1rem;
}